<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Title}</title>
    <link href="./home/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./home/static/css//bootstrap-theme.min.css">
    <link href="./home/static/css/shoping.css" rel="stylesheet">
    <script src="./home/static/js/jquery.min.js"></script>
    <script src="./home/static/js/bootstrap.min.js"></script>
    <script src="./home/static/js/account.js"></script>

</head>
<body>
{include file="header.tpl"}
<div class="container" style="padding-top:80px">
  <ul class="breadcrumb">
        <li><a href="index.html"><span style="color: rgb(255, 140, 60); font-size: 20px" class="glyphicon glyphicon-home"> 首页</span></a></li>
        <li><a href="#"><h4>我的账户</h4></a></li>
    </ul>
    <div class="row">                
	<div class="col-sm-3">
   <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">
         我的账户
      </h4>
   </a>
  <a href="javascript:;" id="accountlevel" class="list-group-item">
  <h4 class="list-group-item-heading">
	 会员等级
  </h4>
   </a>
        <a href="javascript:;" id="editaccount" class="list-group-item">
            <h4 class="list-group-item-heading">
                修改信息
            </h4>
        </a>
   <a href="javascript:;" id="updatepassword" class="list-group-item">
      <h4 class="list-group-item-heading">
         修改密码
      </h4>
   </a>

   <a href="javascript:;" id="manageaddress" class="list-group-item">
      <h4 class="list-group-item-heading">
         收货地址
      </h4>
	</a>
	<a href="javascript:;" id="loveproduction" class="list-group-item">
      <h4 class="list-group-item-heading">
         收藏商品
      </h4>
	</a>
    <a href="#" class="list-group-item active" >
      <h4 class="list-group-item-heading" >
         我的订单
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         订单管理
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         订单历史
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         预售订单
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         团购订单
      </h4>
   </a>
   <a href="#" class="list-group-item active" >
      <h4 class="list-group-item-heading" >
         我的业绩
      </h4>
   </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         销售链接
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         销售级别
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         销售订单
      </h4>
   </a>
     <a href="#" class="list-group-item active" >
      <h4 class="list-group-item-heading" >
         客户服务
      </h4>
   </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         退换货记录
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         购买咨询
      </h4>
   </a>
   <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         我的发票
      </h4>
   </a>
     <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">
         意见建议
      </h4>
   </a>
</div>
<div  class="col-sm-9">     
<div id="accoutcontent">


 </div>
</div>
 
</div>
</div>
{include file="footer.tpl"}
</body>
</html>