<h1>收藏列表</h1>
<legend>收藏明细</legend>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-left">添加日期</td>
            <td class="text-left">产品名称</td>
            <td class="text-right">收藏价格</td>
            <td class="text-right">现在价格</td>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" colspan="5">您还没有任何账户余额记录！</td>
        </tr>
        </tbody>
    </table>
</div>