 <h1>地址管理</h1>
 <legend>地址详情</legend>
 <button type="button" class="btn btn-danger pull-right">删除地址</button>
 <div class="well">
     <h4>默认收货地址</h4>
     <p>收货人：
         温妮
     <p>所在地区：
         广东深圳市宝安区
     <p>地址：
         华侨新村西堤三巷3号
     <p>手机：
         189****0456
     <p>固定电话：
         189****0456
     <p>电子邮箱：

 </div>
 <button type="button" class="btn btn-danger pull-right">删除地址</button>
 <div class="well">
     <p>收货人：
         温妮
     <p>所在地区：
         广东深圳市宝安区
     <p>地址：
         华侨新村西堤三巷3号
     <p>手机：
         189****0456
     <p>固定电话：
         189****0456
     <p>电子邮箱：
 </div>
 <button type="button" class="btn btn-danger pull-right">删除地址</button>
 <div class="well">
     <h4>默认收货地址</h4>
     <p>收货人：
         温妮
     <p>所在地区：
         广东深圳市宝安区
     <p>地址：
         华侨新村西堤三巷3号
     <p>手机：
         189****0456
     <p>固定电话：
         189****0456
     <p>电子邮箱：

 </div>
 <button type="button" class="btn btn-danger">新增地址</button>